[submodule "themes/PaperMod"]
	path = themes/PaperMod
	url = https://github.com/adityatelange/hugo-PaperMod.git
[submodule "themes/matomo"]
	path = themes/matomo
	url = https://github.com/holehan/hugo-components-matomo.git
